/* stylelint-disable no-invalid-position-at-import-rule */
@use "sass:math";

@import "./variables/variables";
@import "./variables/colors";
@import "./mixins";


// Шрифты
@include font('RW Dewi', normal, 400, '../resources/fonts/rf-dewi/RFDewi-Regular');
@include font('RW Dewi', italic, 400, '../resources/fonts/rf-dewi/RFDewi-Italic');
@include font('RW Dewi', italic, 700, '../resources/fonts/rf-dewi/RFDewi-Bold');

@include font('RW Dewi Extended', normal, 600, '../resources/fonts/rf-dewi/RFDewiExtended-Semibold');
@include font('RW Dewi Extended', normal, 700, '../resources/fonts/rf-dewi/RFDewiExtended-Bold');

@include font('RW Dewi Condensed', normal, 600, '../resources/fonts/rf-dewi/RFDewiCondensed-Semibold');
@include font('RW Dewi Condensed', normal, 600, '../resources/fonts/rf-dewi/RFDewiCondensed-Ultrabold');

@include font('Atyp', italic, 400, '../resources/fonts/atyp/AtypDisplay-Italic');

:root {
  --ff-regular: "RW Dewi", sans-serif;
  --ff-extended: "RW Dewi Extended", sans-serif;
  --ff-condensed: "RW Dewi Condensed", sans-serif;
  --ff-atyp: "Atyp", sans-serif;
}

// Сброс CSS
@import "./reset";
@import "./normalize";

fieldset {
  padding: 0;
  margin: 0;
}


html {
  overscroll-behavior: none;
  --fz-modifier: 0.520834;
  font-size: 10px;

  @media (max-width: $laptop-xlg) {
    font-size: #{'calc(var(--fz-modifier) * var(--base-size))'};//calc(0.342466 * var(--base-size));
  }

  @media (max-width: $desktop-lgz) {
    --fz-modifier: 0.620834;
  }

  //@media (max-width: $desktop-lgz) {
  //  --fz-modifier: 0.625;
  //}

  @media (max-width: $tablet) {
    --fz-modifier: 1.323894;
  }
  @media (max-width: $mobile-xxlg) {
    --fz-modifier: 2.666666;
  }

  @media (max-width: $mobile-xxs) {
    --fz-modifier: 2.777777;
  }
  @media (max-width: $mobile-xxs) {
    --fz-modifier: 3.125; // min 320
  }
}

body {
  color: var(--fg-black);
  font-family: var(--ff-regular);
  font-size: var(--fz-regular);
  font-weight: 400;
  font-style: normal;
  line-height: 120%;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body._lock {
  overflow: hidden;
  touch-action: none;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
}

.container {
  max-width: #{'calc(var(--w-container) + 2 * var(--p-container))'};
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--p-container);
  padding-right: var(--p-container);
}

h1, .fz-h1 {
  font-size: var(--fz-h1);
  line-height: var(--lh-h1);
  letter-spacing: var(--lc-h1);
  font-family: var(--ff-extended);
}

h2, .fz-h2 {
  font-size: var(--fz-h2);
  line-height: var(--lh-h2);
  letter-spacing: var(--lc-h2);
  font-family: var(--ff-extended);
  font-weight: 600;
}

h3, .fz-h3 {
  font-size: var(--fz-h3);
  line-height: var(--lh-h3);
  letter-spacing: var(--lc-h3);
  font-family: var(--ff-extended);
  font-weight: 600;
}

h4, .fz-h4 {
  font-size: var(--fz-h4);
  line-height: var(--lh-h4);
  letter-spacing: var(--lc-h4);
  font-family: var(--ff-extended);
  font-weight: 600;
}

.fz-caption {
  font-size: var(--fz-caption);
  line-height: var(--lh-caption);
  letter-spacing: var(--lc-caption);
}

.fz-link {
  font-size: var(--fz-link);
  line-height: var(--lh-link);
  letter-spacing: var(--lc-link);
}

.fz-headline {
  font-size: var(--fz-headline);
  line-height: var(--lh-headline);
  font-weight: 400;
  font-style: normal;
  font-family: var(--ff-regular);
}

.fz-body {
  font-size: var(--fz-body-b);
  line-height: 120%;
}

@media (max-width: $tablet) {
  .fz-h1--tablet {
    font-size: var(--fz-h1);
    line-height: var(--lh-h1);
    letter-spacing: var(--lc-h1);
    font-family: var(--ff-extended);
  }

  .fz-h3--tablet {
    font-size: var(--fz-h3);
    line-height: var(--lh-h3);
    letter-spacing: var(--lc-h3);
    font-family: var(--ff-extended);
  }

  .fz-h4--tablet {
    font-size: var(--fz-h4);
    line-height: var(--lh-h4);
    letter-spacing: var(--lc-h4);
    font-family: var(--ff-extended);
  }
}

@media (max-width: $mobile) {
  .fz-h1--mobile {
    font-size: var(--fz-h1);
    line-height: var(--lh-h1);
    letter-spacing: var(--lc-h1);
    font-family: var(--ff-extended);
  }

  .fz-h2--mobile {
    font-size: var(--fz-h2);
    line-height: var(--lh-h2);
    letter-spacing: var(--lc-h2);
    font-family: var(--ff-extended);
  }

  .fz-body--mobile {
    font-size: var(--fz-regular);
    line-height: var(--lh-regular);
  }

  .fz-caption--mobile {
    font-size: var(--fz-caption);
    line-height: var(--lh-caption);
    letter-spacing: var(--lc-caption);
  }
}

.section {
  padding: 10rem 0;

  @media (max-width: $tablet) {
    padding: 9rem 0;
  }

  @media (max-width: $mobile) {
    padding: 6rem 0;
  }
}

.page-pd-bottom {

}

.page-paddings {
  padding-top: var(--pt-page);
  padding-bottom: var(--pd-page);
}

.page-pd-bottom {
  padding-bottom: var(--pd-page);
}

.item--cover {
  position: relative;

  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@import "./components";
