:root {
  --fg-blue: #0000FF;
  --fg-black: #111;
  --fg-black-75: rgba(0,0,0,.75);
  --fg-black-50: rgba(0,0,0,.5);
  --fg-white: #FFF;
  --fg-white-50: rgba(255, 255 ,255, .5);
  --fg-white-75: rgba(255, 255 ,255, .75);
  --fg-gray: #E8E8EA;
  --fg-gray-2: #A1A1A1;
  --fg-red: #FF0000;
  --fg-a1: rgba(161, 161, 161, .75);
}

