.festival {
  position: relative;
  overflow: hidden;
}

.festival__block-header {
  align-items: flex-start;

  & .block-header__title {
    max-width: 110rem;
  }

  @media (max-width: $mobile) {
    & .block-header__content img {
      max-width: 15rem;
    }
  }
}

.festival__item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  max-width: fit-content;
}

.festival__slider .swiper-slide {
  max-width: fit-content;
  min-width: fit-content;
}

.festival__title {
  line-height: 100%;

  & br {
    display: none;
  }

  @media (max-width: $mobile) {
    font-size: 1.8rem;

    & br {
      display: block;
    }
  }
}

.festival__label {
  color: var(--fg-blue);
  margin-left: 2rem;
  margin-top: .5rem;

  @media (max-width: $mobile) {
    font-size: 1.2rem;
  }
}

.festival__slider .swiper-wrapper {
  -webkit-transition-timing-function:linear!important;
  -o-transition-timing-function:linear!important;
  transition-timing-function:linear!important;
}

.festival__slider {
  margin: var(--m-m-container);
  margin-bottom: 6rem;

  &._back {
    direction: rtl;

    & .festival__title {
      order: 2;
      text-align: left;
    }

    & .festival__label {
      order: 1;
    }
  }
}

.festival__slider .swiper {
  padding-bottom: 1rem;
}

.festival__item {
  //margin-right: 6rem;
}
