.hero {
  padding: 3.6rem 0 4.6rem;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  @media (max-width: $tablet) {
    min-height: auto;
  }
}

.hero__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27.9rem;

  @media (max-width: $tablet) {
    flex-wrap: wrap;
    margin-bottom: 4.4rem;
  }

  @media (max-width: $mobile) {
    margin-bottom: 12.2rem;
  }
}

.hero__title {
  max-width: 110rem;
  font-size: 7.2rem;
  line-height: 80%;
  letter-spacing: -.04rem;
  font-weight: 600;
  font-family: var(--ff-extended);
  margin: 0;

  @media (max-width: $tablet) {
    width: 100%;
    font-size: 5rem;
    line-height: 110%;
    margin-bottom: 6rem;
  }

  @media (max-width: $mobile) {
    font-size: 4rem;
    line-height: 100%;
    margin-bottom: 4rem;
    letter-spacing: -.08rem;
  }
}

.hero__video {
  min-width: 13.4rem;
  height: 13.2rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 3.1rem;
  overflow: hidden;
  transition: var(--tr-regular);
  position: relative;

  & > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--tr-regular);
  }

  &:hover {
    min-width: 26.6rem;

    & .hero__video-button {
      opacity: 1;
      z-index: 5;
    }

    & .hero__video-play {
      opacity: 0;
    }
  }

  @media (max-width: $tablet) {
    width: 100%;
    height: 39.6rem;
  }

  @media (max-width: $mobile) {
    margin-left: 0;
    width: 100%;
    height: 25.7rem;
    border-radius: 2.4rem;
  }
}

.hero__video-button {
  display: inline-block;
  cursor: pointer;
  padding: 1rem;
  border-radius: 1rem;
  border: .1rem solid var(--fg-white);
  z-index: -1;
  opacity: 0;
  backdrop-filter: blur(1.5rem);
  background: rgba(255, 255, 255, 0.2);
  color: var(--fg-white);
  white-space: nowrap;
}

.hero__logos {
  display: flex;
  align-items: center;

  @media (max-width: $tablet) {
    overflow-y: auto;
    flex-wrap: nowrap;
    margin-left: var(--m-m-container);
    margin-right: var(--m-m-container);
  }
}

.hero__logos-item {
  margin-right: 10rem;

  &:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet) {
    min-width: 26rem;
    margin-right: 6rem;
  }
}

.hero__logo {
  margin-top: 1rem;

  &-img {
    width: 100%;
    height: auto;
  }

  & svg {
    width: 100%;
    height: auto;
  }
}

