.reviews__block-header {
  & .block-header__title {
    max-width: 105rem;
  }

  @media (max-width: $tablet) {
    margin-bottom: 6rem;
  }

  @media (max-width: $mobile) {
    margin-bottom: 4rem;
  }
}

.reviews__button {
  margin-top: 4rem;

  @media (max-width: $mobile) {
    margin-top: 6rem;
  }
}

.reviews__slider  {
  @media (max-width: $tablet) {
    margin-right: var(--m-m-container);
  }
}
