.supporting__block-header .block-header__title {
  max-width: 65.2rem;
}

@media (max-width: $mobile) {
  .supporting__block-header {
    margin-bottom: 4rem;
  }
}

.supporting__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;

  @media (max-width: $tablet) {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.supporting__btn {
  margin-top: 8rem;

  @media (max-width: $mobile) {
    margin-top: 1rem;
  }
}
