.block-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8rem;

  @media (max-width: $tablet) {
    flex-direction: column;
    align-items: flex-start;
  }

  @media (max-width: $mobile) {
    margin-bottom: 6rem;
  }
}

.block-header__title {

}

@media (max-width: $tablet) {
  .block-header__content {
    margin-top: 2.5rem;
  }
}
