.burger {
  width: 100%;
}

.burger__line {
  display: block;
  width: 100%;
  border-bottom: 2px solid var(--fg-blue);
  margin-bottom: .5rem;
  transition: var(--tr-regular);

  &:last-child {
    margin-bottom: 0;
    margin-left: auto;
  }

  @media (max-width: $tablet) {
    height: .1rem;
  }
}

.menu--open {
  & .burger__line {
    border-color: var(--fg-white);
  }

  & .burger__line:first-child {
    width: 0;
  }

  & .burger__line:last-child {
    width: 0;
  }
}
