.btn {
  display: block;
  width: 100%;
  padding: 3rem 0;
  font-size: var(--fz-button);
  line-height: var(--lh-button);
  border: .15rem solid var(--fg-blue);
  border-radius: var(--br-regular);
  text-align: center;
  color: var(--fg-blue);
  overflow: hidden;
  position: relative;
  transition: var(--tr-regular);

  &._white {
    border-color: var(--fg-white);
    color: var(--fg-white);
  }

  &._border {
    color: var(--fg-blue);
  }

  &:hover {
    color: var(--fg-white);
  }

  &._small {
    font-size: 2rem;
    letter-spacing: -.02rem;
    line-height: 110%;
    border-radius: var(--br-secondary);
  }

  @media (max-width: $tablet) {
    padding: 2.4rem 0;
  }
}

.btn--ripple {
  position: relative;
  overflow: hidden;

  & span {
    position: relative;
    z-index: 5;
    transition: var(--tr-regular);
  }

  &::before {
    content: "";
    position: absolute;
    background-color: var(--fg-blue);
    width: 0;
    height: 0;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width 0.8s, height 0.8s;
  }

  &:hover::before {
    width: 300%;
    height: 300%;
  }

  &._white {
    &::before {
      background: var(--fg-white);
    }

    &:hover {
      color: var(--fg-blue) !important;
    }
  }
}