.form__row {
  margin-bottom: 4rem;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $mobile) {
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form__input {
  width: 100%;
  height: 6.5rem;
  border: none;
  border-bottom: .15rem solid var(--fg-black);
  padding: 3rem 2rem 2rem;
  color: var(--fg-black);
  font-size: 2.2rem;
  border-radius: 0;

  &::placeholder {
    color: var(--fg-black-50);
  }

  @media (max-width: $mobile) {
    height: 5.1rem;
    font-size: 1.5rem;
    padding: 2.5rem 1rem 1.5rem;
  }
}

textarea.form__input {
  resize: none;
  overflow: hidden;
  height: auto;
  max-height: fit-content;
}

.form__button {
  margin-top: 2rem;
}

.form__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;

  @media (max-width: $mobile) {
    grid-template-columns: 1fr;
    column-gap: 0;
    margin-bottom: 3rem;
  }
}
