.content__text {
  --fz: 1.7rem;
  --lh: 130%;

  --m-bottom: 3rem;

  --mt-ul: 0;
  --mb-ul-li: .5rem;
  --wh-ul-icon: .6rem;
  --pd-ul-icon: .5rem;
  --top-ul-icon: 1rem;

  font-size: var(--fz);
  line-height: var(--lh);

  & > * {
    margin-bottom: var(--m-bottom);

    &:last-child {
      margin-bottom: 0;
    }
  }

  & a {
    color: var(--fg-blue);
  }

  & ol {
    padding-left: .5rem;
    margin-top: -.5rem;
  }

  & ul {
    padding: 0;
    margin-top: var(--mt-ul);
    list-style: none;

    & li {
      padding-left: calc(var(--wh-ul-icon) + var(--pd-ul-icon));
      position: relative;
      margin-bottom: var(--mb-ul-li);

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: var(--top-ul-icon);
        background: var(--fg-blue);
        border-radius: .2rem;
        width: var(--wh-ul-icon);
        height: var(--wh-ul-icon);
      }
    }
  }

  & .gallery {
    display: grid;
    gap: 3rem;

    &-item {
      margin: 0 !important;
      float: none !important;
      width: auto !important;
    }

    & br {
      display: none !important;
    }

    &-columns {
      &-2 {
        grid-template-columns: repeat(2, 1fr);
      }
      &-3 {
        grid-template-columns: repeat(3, 1fr);
      }
      &-4 {
        grid-template-columns: repeat(4, 1fr);
      }
      &-5 {
        grid-template-columns: repeat(5, 1fr);
      }
    }

    & img {
      margin: 0 !important;
      border: none !important;
    }
  }

  @media (max-width: $mobile) {
    --m-bottom: 1.5rem;
  }
}