.footer__subscribe {
  @media (max-width: $mobile) {
    width: 100%;
  }
}

.footer__subscribe-form {
  display: flex;
  align-items: center;
}

.footer__subscribe-input {
  --color: #7474F5;
  width: 25rem;
  max-width: 100%;
  height: 3.7rem;
  padding: 0 1.2rem;
  border: .15rem solid var(--color);
  background: none;
  font-size: 1.8rem;
  border-radius: .5rem;

  &::placeholder {
    color: var(--color);
  }

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.footer__subscribe-btn {
  margin-left: 1rem;
  border: none;
  background: none;
}
